<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mall.base.dao.AddressMapper" >
  <select id="getList" resultType="mall.base.model.Address" parameterType="mall.base.model.Address" >
    select * from address
    where 1=1
    <if test="addressid != null" >
      and addressId = #{addressid}
    </if>
    <if test="addresscontent != null" >
      and addressContent = #{addresscontent}
    </if>
    <if test="addressname != null" >
      and addressName = #{addressname}
    </if>
    <if test="addressphone != null" >
      and addressPhone = #{addressphone}
    </if>
    <if test="userid != null" >
      and userId = #{userid}
    </if>
  </select>
  
  <select id="getSingle" resultType="mall.base.model.Address" >
    select * from address
    where addressId = #{id}
    limit 0,1
  </select>
  
  <insert id="insert" parameterType="mall.base.model.Address" >
    insert into address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="addressid != null" >
        addressId,
      </if>
      <if test="addresscontent != null" >
        addressContent,
      </if>
      <if test="addressname != null" >
        addressName,
      </if>
      <if test="addressphone != null" >
        addressPhone,
      </if>
      <if test="userid != null" >
        userId
      </if>
    </trim>
    <trim prefix="values(" suffix=")" suffixOverrides="," >
      <if test="addressid != null" >
        #{addressid},
      </if>
      <if test="addresscontent != null" >
        #{addresscontent},
      </if>
      <if test="addressname != null" >
        #{addressname},
      </if>
      <if test="addressphone != null" >
        #{addressphone},
      </if>
      <if test="userid != null" >
        #{userid}
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="mall.base.model.Address" >
    update address
    <set >
      <if test="addresscontent != null" >
        addressContent = #{addresscontent},
      </if>
      <if test="addressname != null" >
        addressName = #{addressname},
      </if>
      <if test="addressphone != null" >
        addressPhone = #{addressphone},
      </if>
      <if test="userid != null" >
        userId = #{userid}
      </if>
    </set>
    where
    addressId = #{addressid}
  </update>
  
  <delete id="batchDelete" >
    delete from address
    where addressId in(
    <foreach item="item" collection="list" separator="," >
      #{item}
    </foreach>
    )
  </delete>
  
  <select id="getListWithPage" resultType="mall.base.model.Address" parameterType="mall.base.model.Address" >
    select * from address
    where 1=1
    <if test="addressid != null" >
      and addressId = #{addressid}
    </if>
    <if test="addresscontent != null" >
      and addressContent = #{addresscontent}
    </if>
    <if test="addressname != null" >
      and addressName = #{addressname}
    </if>
    <if test="addressphone != null" >
      and addressPhone = #{addressphone}
    </if>
    <if test="userid != null" >
      and userId = #{userid}
    </if>
  </select>
  
  <select id="count" resultType="java.lang.Long" parameterType="mall.base.model.Address" >
    select count(*) from address
    where 1=1
    <if test="addressid != null" >
      and addressId = #{addressid}
    </if>
    <if test="addresscontent != null" >
      and addressContent = #{addresscontent}
    </if>
    <if test="addressname != null" >
      and addressName = #{addressname}
    </if>
    <if test="addressphone != null" >
      and addressPhone = #{addressphone}
    </if>
    <if test="userid != null" >
      and userId = #{userid}
    </if>
  </select>
  
</mapper>